@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Raleway:wght@300;500&family=Comfortaa:wght@300&Comfortaa:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .navbar .navbar-toggler {
  color: white;
}
header .navbar .navbar-nav {
  padding-right: 150px;
  gap: 30px;
  font-size: 25px;
}
header .navbar .navbar-nav .nav-link {
  color: white;
  text-decoration: underline;
}

.imgFond {
  background-image: url("../images/Fondomain.jpg");
  padding-bottom: 10px;
  height: 100vh;
}

.labelName {
  font-family: "Comfortaa", cursive;
  font-size: 3rem;
}

.labelName2 {
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
}

.presentacionMain .intro {
  font-family: "Comfortaa", cursive;
  font-size: larger;
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.presentacionMain .iconosRedes {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  color: white;
  margin-top: 100px;
}
.presentacionMain .iconosRedes .fa-soundcloud, .presentacionMain .iconosRedes .fa-spotify, .presentacionMain .iconosRedes .fa-bandcamp, .presentacionMain .iconosRedes .fa-instagram {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentacionMain .iconosRedes .fa-soundcloud:hover, .presentacionMain .iconosRedes .fa-spotify:hover, .presentacionMain .iconosRedes .fa-bandcamp:hover, .presentacionMain .iconosRedes .fa-instagram:hover {
  background-color: gray;
}

/*ARTISTAS*/
.imgFondart {
  background-image: url("../images/Fondomain.jpg");
  height: 100%;
}

.textoArtistas {
  font-family: "Raleway", sans-serif;
}

.nArtista {
  font-family: "Comfortaa", cursive;
  font-size: 4rem;
  margin-top: 35px;
}

.badge {
  font-family: "Comfortaa", cursive;
  margin-left: 200px;
  margin-right: 200px;
  font-size: large;
}

.foto {
  width: 600px;
  height: 300px;
  margin-left: 650px;
  margin-bottom: 20px;
}

.boton {
  grid-area: boton;
  margin-top: 100%;
}

/* PODCASTS */
.textoPodcasts {
  font-family: "Raleway", sans-serif;
  padding-top: 35px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}

.artPod {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-size: 50px;
  color: white;
}

.soundcloud {
  margin-left: 10%;
  margin-right: auto;
}

/* CONTACTO */
.textoContacto {
  font-family: "Raleway", sans-serif;
  padding-top: 35px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}

.formColor {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.formColor .formColor2 {
  margin-left: 45px;
}
.formColor .textArea {
  margin-left: 45px;
  margin-top: 20px;
}
.formColor .espacioContacto {
  margin-bottom: 25px;
  margin-top: 10px;
}

/* RELEASES */
.textoReleases {
  font-family: "Raleway", sans-serif;
  margin-left: 10px;
  padding-top: 35px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}

.band {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  list-style-type: none;
}

.linkBand {
  text-decoration: none;
  color: white;
}

.bandLogo {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#hr {
  margin-right: 200px;
  margin-left: 200px;
}

.fa-soundcloud, .fa-spotify, .fa-bandcamp, .fa-instagram {
  background-color: orange;
}

.fa-instagram {
  background-color: rgb(253, 4, 158);
}

.fa-bandcamp {
  background-color: cyan;
}

.fa-spotify {
  background-color: green;
}

.fa-instagram {
  background-color: rgb(253, 4, 158);
}

.fa-bandcamp {
  background-color: cyan;
}

.fa-spotify {
  background-color: green;
}

.fa-soundcloud, .fa-instagram, .fa-bandcamp, .fa-spotify {
  width: 200px;
  height: 100px;
}

.footer {
  text-align: center;
  font-family: "Inconsolata", monospace;
  background: rgb(57, 57, 57);
  background: linear-gradient(266deg, rgb(57, 57, 57) 0%, rgb(11, 11, 11) 51%, rgb(57, 57, 57) 100%);
  position: static;
  display: flex;
  align-items: center;
  height: 100px;
  bottom: 0;
  width: 100%;
}

/* TRANSFORMS */
.soundcloud:hover {
  transform: scale(1.1) translateY(-10px);
  transition: all 1s;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.linkBand:hover {
  transform: scale(1.1) translateY(-20px);
  transition: all 2s;
}

/* ANIMISTA */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
  }
  .presentacionMain .iconosRedes {
    display: none;
  }
  .foto {
    width: 600px;
    height: 300px;
    margin-left: 100px;
    margin-bottom: 20px;
  }
  .labelName {
    font-family: "Comfortaa", cursive;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
  }
  .labelName2 {
    font-family: "Comfortaa", cursive;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
  }
  .footer {
    text-align: center;
    font-family: "Inconsolata", monospace;
    display: flex;
    justify-content: center;
    position: static;
  }
  .badge {
    margin-left: 200px;
    margin-right: 200px;
  }
}
@media screen and (max-width: 480px) {
  .presentacionMain .intro {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  .foto {
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .presentacionMain .iconosRedes {
    display: none;
  }
  .labelName {
    font-family: "Comfortaa", cursive;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
  }
  .labelName2 {
    font-family: "Comfortaa", cursive;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
  }
  .formColor {
    padding-left: 15px;
  }
  .textArea {
    margin-left: 15px;
    margin-top: 20px;
  }
  .footer {
    text-align: center;
    font-family: "Inconsolata", monospace;
    display: flex;
    justify-content: center;
    position: static;
  }
  .badge {
    margin-left: 10px;
    right: 200px;
    height: 400px;
    width: 400px;
    overflow: scroll;
  }
  .nArtista {
    font-size: 2rem;
  }
}/*# sourceMappingURL=estilo.css.map */