@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Raleway:wght@300;500&family=Comfortaa:wght@300&Comfortaa:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .navbar .navbar-toggler {
  color: white;
}
header .navbar .navbar-nav {
  padding-right: 150px;
  gap: 30px;
  font-size: 25px;
}
header .navbar .navbar-nav .nav-link {
  color: white;
  text-decoration: underline;
}

.imgFond {
  background-image: url("../images/Fondomain.jpg");
  padding-bottom: 10px;
  height: 100vh;
}

.labelName {
  font-family: "Comfortaa", cursive;
  font-size: 3rem;
}

.labelName2 {
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
}

.presentacionMain .intro {
  font-family: "Comfortaa", cursive;
  font-size: larger;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.presentacionMain .iconosRedes {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  color: white;
  margin-top: 100px;
}
.presentacionMain .iconosRedes .fa-soundcloud, .presentacionMain .iconosRedes .fa-spotify, .presentacionMain .iconosRedes .fa-bandcamp, .presentacionMain .iconosRedes .fa-instagram {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentacionMain .iconosRedes .fa-soundcloud:hover, .presentacionMain .iconosRedes .fa-spotify:hover, .presentacionMain .iconosRedes .fa-bandcamp:hover, .presentacionMain .iconosRedes .fa-instagram:hover {
  background-color: gray;
}

/*ARTISTAS*/
.imgFondart {
  background-image: url("../images/Fondomain.jpg");
  height: 100%;
}

.textoArtistas {
  font-family: "Raleway", sans-serif;
}

.nArtista {
  font-family: "Comfortaa", cursive;
  font-size: 4rem;
  margin-top: 35px;
}

.badge {
  font-family: "Comfortaa", cursive;
  margin-left: 200px;
  margin-right: 200px;
  font-size: large;
}

.foto {
  width: 600px;
  height: 300px;
  margin-left: 650px;
  margin-bottom: 20px;
}

.boton {
  grid-area: boton;
  margin-top: 100%;
}

/* PODCASTS */
.textoPodcasts {
  font-family: "Raleway", sans-serif;
  padding-top: 35px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}

.artPod {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-size: 50px;
  color: white;
}

.soundcloud {
  margin-left: 10%;
  margin-right: auto;
}

/* CONTACTO */
.textoContacto {
  font-family: "Raleway", sans-serif;
  padding-top: 35px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}

.formColor {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.formColor .formColor2 {
  margin-left: 45px;
}
.formColor .textArea {
  margin-left: 45px;
  margin-top: 20px;
}
.formColor .espacioContacto {
  margin-bottom: 25px;
  margin-top: 10px;
}

/* RELEASES */
.textoReleases {
  font-family: "Raleway", sans-serif;
  margin-left: 10px;
  padding-top: 35px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}

.band {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  list-style-type: none;
}

.linkBand {
  text-decoration: none;
  color: white;
}

.bandLogo {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#hr {
  margin-right: 200px;
  margin-left: 200px;
}

.fa-soundcloud, .fa-spotify, .fa-bandcamp, .fa-instagram {
  background-color: orange;
}

.fa-instagram {
  background-color: rgb(253, 4, 158);
}

.fa-bandcamp {
  background-color: cyan;
}

.fa-spotify {
  background-color: green;
}

.fa-instagram {
  background-color: rgb(253, 4, 158);
}

.fa-bandcamp {
  background-color: cyan;
}

.fa-spotify {
  background-color: green;
}

.fa-soundcloud, .fa-instagram, .fa-bandcamp, .fa-spotify {
  width: 200px;
  height: 100px;
}

.footer {
  text-align: center;
  font-family: "Inconsolata", monospace;
  background: rgb(57, 57, 57);
  background: linear-gradient(266deg, rgb(57, 57, 57) 0%, rgb(11, 11, 11) 51%, rgb(57, 57, 57) 100%);
  position: static;
  display: flex;
  align-items: center;
  height: 100px;
  bottom: 0;
  width: 100%;
}/*# sourceMappingURL=estilo.css.map */