@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Raleway:wght@300;500&family=Comfortaa:wght@300&Comfortaa:wght@300&display=swap');

/* ARTISTAS */ 

.imgFondart{
    background-image:url("../images/Fondomain.jpg");
    height: 100%;
    
}
.badge{
    font-family: 'Comfortaa', cursive;
    margin-left: 200px;
    margin-right: 200px;
    font-size: large;
}
.boton{
    grid-area: boton;
    margin-top: 100%;
}

.textoArtistas{
    font-family: 'Raleway', sans-serif;

}

.nArtista{
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    margin-top: 35px;
}

.foto{
    width: 600px;
    height: 300px;
    margin-left: 650px;
    margin-bottom: 20px;
   
}

/* PODCASTS */ 

.textoPodcasts{
    font-family: 'Raleway', sans-serif;
    padding-top: 35px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
}

.artPod{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    color: white;
}

.soundcloud{
    margin-left: 10%;
    margin-right: auto;
}


/* CONTACTO */ 

.textoContacto{
    font-family: 'Raleway', sans-serif;
    padding-top: 35px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
}

.formColor{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 25px;
    
}

.formColor2{
    margin-left: 45px;
}

.textArea{
    margin-left: 45px;
    margin-top: 20px;
}

.espacioContacto{
    margin-bottom: 25px;
    margin-top: 10px;
}

/* RELEASES */ 

.textoReleases{
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    padding-top: 35px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
}

.band{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    
}

.linkBand{
    text-decoration: none;
    color: white;
}

#hr{
    margin-right: 200px;
    margin-left: 200px;
}

.bandLogo{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* TRANSFORMS */

.benPod:hover {
    transform: scale(1.1) translateY(-10px);
    transition: all 1s;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.rodPod:hover {
    transform: scale(1.1) translateY(-10px);
    transition: all 1s;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.oscPod:hover {
    transform: scale(1.1) translateY(-10px);
    transition: all 1s;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dvsPod:hover {
    transform: scale(1.1) translateY(-10px);
    transition: all 1s;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.linkBand:hover {
    transform: scale(1.1) translateY(-20px);
    transition: all 2s;

}

/* ANIMISTA */

.tracking-in-expand{-webkit-animation:tracking-in-expand 1s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}

 @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

 .focus-in-expand{animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) both}

 @keyframes focus-in-expand{0%{letter-spacing:-.5em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
  
 /* MQ */

 @media screen and (max-width: 768px){
      
    .imgIntro{
        height: 30%;
        width: 30%;
        margin-left: 250px;
        margin-top: 150px;
    }

    .intro{
        display: flex;
        flex-direction: column;
    }

    .foto{
        width: 600px;
        height: 300px;
        margin-left: 75px;
        margin-bottom: 20px;
    }

    .labelName{
        font-family: 'Comfortaa', cursive;
        font-size: 2rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 35px;
        text-align: center;
        height: fit-content; 
        width: fit-content;  
        display: flex;
        justify-content: center;  
    }

    .labelName2{
        font-family: 'Comfortaa', cursive;
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        text-align: center;
        height: fit-content; 
        width: fit-content;  
        display: flex;
        justify-content: center;  
    }

    .footer{
        text-align: center;
        font-family: 'Inconsolata', monospace;
        display: flex;
        justify-content: center;
        position: static;
    }

    .badge{
        margin-left: 200px;
        margin-right: 200px;
    }
} 

@media screen and (max-width: 480px){
     
    .imgIntro{
        height: 30%;
        width: 30%;
        margin-left: 175px;
        margin-top: 150px;
    }

    .intro{
        width: auto;
        font-size:medium
    }

    .foto{
        width: 400px;
        height: 300px;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .labelName{
        font-family: 'Comfortaa', cursive;
        font-size: 2rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 35px;
        text-align: center;
        height: fit-content; 
        width: fit-content;  
        display: flex;
        justify-content: center;  
    }

    .labelName2{
        font-family: 'Comfortaa', cursive;
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        text-align: center;
        height: fit-content; 
        width: fit-content;  
        display: flex;
        justify-content: center;  
    }

    .footer{
        text-align: center;
        font-family: 'Inconsolata', monospace;
        display: flex;
        justify-content: center;
        position: static;
    }

    .nArtista{
        font-size: 2rem;
    }

    .textoArtistas{
        font-size: medium;
    }

    .textoContacto{
        font-size: medium;
    }

    .textArea{
        font-size: medium;
        margin-left: 10%;
    }
    .badge{
        font-size: small;
        width: 100%;
        height: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }
} 

@media screen and (max-width: 320px){
     
    .imgIntro{
        height: 30%;
        width: 30%;
        margin-left: 125px;
        margin-top: 150px;
    }

    .intro{
        width: auto;
        font-size:medium
    }

    .foto{
        width: 300px;
        height: 300px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .labelName{
        font-family: 'Comfortaa', cursive;
        font-size: 2rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 35px;
        text-align: center;
        height: fit-content; 
        width: fit-content;  
        display: flex;
        justify-content: center;  
    }

    .labelName2{
        font-family: 'Comfortaa', cursive;
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        text-align: center;
        height: fit-content; 
        width: fit-content;  
        display: flex;
        justify-content: center;  
    }

    .footer{
        text-align: center;
        font-family: 'Inconsolata', monospace;
        display: flex;
        justify-content: center;
        position: static;       
    }
}