@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Raleway:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgFond{
    background-image:url("../images/Fondomain.jpg");
    padding-bottom: 10px;
    
}

.navbar-nav{
    padding-right: 100px;
    gap: 100px;
    font-size: 25px;
}

.intro{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/808/962/394/light-gray-wallpaper-preview.jpg);
    background-size: auto;
    width: 600px;
    height: 200px;
}

.footer{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    background: rgb(57,57,57);
    background: linear-gradient(266deg, rgba(57,57,57,1) 0%, rgba(11,11,11,1) 51%, rgba(57,57,57,1) 100%);
    position:sticky;
}

/* ARTISTAS */ 

.imgFondart{
    background-image:url("../images/Fondomain.jpg")
    
}

.boton{
    grid-area: boton;
    margin-top: 100%;
}

.textoArtistas{
    font-family: 'Raleway', sans-serif;

}


/* .carousel .carousel-item {
    height: 500px;
    
} */
  
/* .carousel-item img {
    margin-left: 350px;
    min-height: 500px;
    width: auto;
    height: auto;
} */

/* PODCASTS */ 

.textoPodcasts{
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    padding-top: 35px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
}

.podBen{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    color: white;
}

.benPod{
    padding-left: 375px;
}

.podRod{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    color: white;
}

.rodPod{
    padding-left: 375px
}

.podOsc{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    color: white;
}

.oscPod{
    padding-left: 375px
}

.podDvs{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
    color: white;
}

.dvsPod{
    padding-left: 375px;
}

.footer{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    background-color: rgb(68, 68, 68);
    

}

/* CONTACTO */ 

.textoContacto{
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    padding-top: 35px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
}

.formColor{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 25px;
    
}

.formColor2{
    margin-left: 45px;
}

.textArea{
    margin-left: 45px;
    margin-top: 20px;
}

.espacioContacto{
    margin-bottom: 25px;
    margin-top: 10px;
}

/* RELEASES */ 

.textoReleases{
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    padding-top: 35px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
}

.band{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    
}

.linkBand{
    text-decoration: none;
    color: white;
}

#hr{
    margin-right: 200px;
    margin-left: 200px;
}

.bandLogo{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

